.select {
  .select-label {
    margin-right: 10px;
    font-size: 1.1rem;
    font-weight: bold;
  }

  .filter-select {
    color: white;
    padding: 10px 20px;
    text-align: center;
    border: none;
    border-radius: 30px;
    background-color: #cd3835;
    appearance: none;
    cursor: pointer;
  }
}
